#main-header{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    
}
#main-footer{
    color: rgb(0, 0, 0);
    text-align:center;
    font-size: 13px;
}
#main-body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
.container{
    color: rgb(0, 0, 0);
    width: 75%;
    margin: auto;
}
.container-center{
    justify-content: center;
    columns: 2;
    column-gap: 2%;
}
.box-1{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    border-left: 5px rgb(219, 188, 13) solid;
    padding: 5px;
    
}