#main-header{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    
}
#main-footer{
    color: rgb(0, 0, 0);
    text-align:center;
    font-size: 13px;
}
#main-body{
    background-color:#C41E3A;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
.container{
    color: rgb(0, 0, 0);
    width: 75%;
    margin: auto;
}
.container-center{
    justify-content: center;
    columns: 2;
    column-gap: 2%;
}
.box-1{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    border-left: 5px #FFBA00 solid;
    padding: 5px;
    border-radius: 15px;
}
.box-1 a{
    list-style: none;
    color: #FFBA00;
}
.navbar{
    border: 2px #ccc solid; 
    padding: 10px;
}
.navbar li{
    padding: 0%;
    list-style: none;
    color: #FFBA00;
    display: inline;    
}
.navbar a{
    padding-right: 15px;
}

