#main-header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    
}
#main-footer{
    text-align:center;
    font-size: 13px;
}
body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
.container{
    width: 80%;
    margin: auto;
}
.box-1{
    background-color:crimson;
    border-left: 5px yellow solid;
    padding-left: 3px;
    
}