* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
image{
    width: 100%;
}
#main-header{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
}
#main-footer{
    color: #FFBA00;
    text-align:center;
    font-size: 13px;
}
#main-body{
    background-color:#C41E3A;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
.container{
    color: white;
    width: 75%;
    margin: auto;
    overflow: hidden;
}
.container-colum{
    width: 30%;
    float: right;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}
.box-1{
    flex: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    border-right: 5px #FFBA00 solid;
    padding: 5px;
    border-radius: 15px;
}
.box-1 a{
    list-style: none;
    color: #FFBA00;
}
.box-2{
    flex: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    border-right: 5px #FFBA00 solid;
    padding: 5px;
    border-radius: 15px;
}
.box-2 a{
    list-style: none;
    color: #FFBA00;
}
.box-3{
    flex: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    border-right: 5px #FFBA00 solid;
    padding: 5px;
    border-radius: 15px;
}
.box-3 a{
    list-style: none;
    color: #FFBA00;
}
.box-4{
    flex: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    border-right: 5px #FFBA00 solid;
    padding: 5px;
    border-radius: 15px;
}
.box-4 a{
    list-style: none;
    color: #FFBA00;
}
.navbar{
    border: 2px #ccc solid; 
    padding: 10px;
    height: 45px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
}
.navbar a{
    text-decoration: none;
    color: #FFBA00;    
}
.navbar a{
    padding: 5px;
    margin: 0 10px;
    font-size: 18px;
}
.navbar a:hover {
    border-bottom: 2px #FFBA00 solid;
}
.navcontainer{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    height: 100%;
}
#showcase{
    background-image: url('../images/Campus.jpg');
    background-position: center;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}
#showcase h1{
    color: #ffffff;
    font-size: 30px;
    line-height: 1.6em;
    padding-top: 40px;
}
#showcase h2{
    color: #ffffff;
    font-size: 30px;
    line-height: 1.6em;
    padding-top: 10px;
}
#showcase h3{
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6em;
    padding-top: 10px;
}

